#service .content{
  line-height: 2;
}
#service .flex-wrap{
  display: flex;
  justify-content: space-between;
}
#service .flex-wrap:first-child{
  margin-bottom: 50px;
}
#service .flex-wrap .image{
  flex-shrink: 0;
  width: 480px;
}
#service .flex-wrap:last-child .image{
  order: 1;
}
#service .flex-wrap .text{
  width: 480px;
}
#service .flex-wrap .text h3{
  font-size: 24px;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
#service .flex-wrap .text p{
  font-size: 14px;
  font-weight: bold;
}
#service .flex-wrap:last-child .text{
  order: 2;
}
@media screen and (max-width: 1024px){
  #service .flex-wrap .image{
    width: 49%;
  }
  #service .flex-wrap .text{
    width: 49%;
  }
}
@media screen and (max-width: 768px){
  #service .content{
    margin: 0 auto;
    max-width: 480px;
  }
  #service .flex-wrap{
    display: block;
  }
  #service .flex-wrap .image{
    width: 100%;
  }
  #service .flex-wrap .text{
    margin-bottom: 40px;
    width: 100%;
  }
  #service .flex-wrap .text h3{
    font-size: 20px;
    margin-bottom: 30px;
  }
}

#news .section-title .text{
  letter-spacing: 0.1em;
}
#news .content{
  line-height: 2;
}
#news .content .flex-wrap{
  display: flex;
  justify-content: space-between;
}
#news .content .flex-wrap .wrap{
  box-shadow: 0 0 6px rgba(27, 19, 16, .4);
  width: 31.1%;
}
#news .content .flex-wrap .wrap .text{
  padding: 25px 30px;
}
#news .content .flex-wrap .wrap .text p{
  font-size: 13px;
  font-weight: 500;
}
@media screen and (max-width: 768px){
  #news .content .flex-wrap{
    display: block;
  }
  #news .content .flex-wrap .wrap{
    margin: 0 auto 50px;
    max-width: 480px;
    width: 100%;
  }
  #news .content .flex-wrap .wrap:last-child{
    margin-bottom: 0;
  }
}

#contact{
  margin-bottom: 50px;
}
#contact .container{
  max-width: 700px;
}
#contact .section-title .text{
  letter-spacing: 0.1em;
}
#contact form .form-wrap{
  margin-bottom: 25px;
}
#contact form .form-wrap:last-of-type{
  margin-bottom: 50px;
}
#contact form .form-wrap label{
  display: block;
  margin-bottom: 5px;
}
#contact form .form-wrap input,
#contact form .form-wrap textarea{
  border: 1px solid #141414;
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
}
#contact form .form-wrap input:focus::placeholder,
#contact form .form-wrap textarea:focus::placeholder{
  opacity: 0;
}
#contact form .form-wrap textarea{
  height: 170px;
}
#contact form button{
  background-color: #1B1310;
  border-radius: 30px;
  box-shadow: 0 0 6px #1B1310;
  color: #FFF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 235px;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

footer{
  background-color: #1B1310;
  color: #FFF;
  font-size: 14px;
  padding: 30px 0;
  text-align: center;
}