@font-face {
  font-family: 'Noto Sans Jp';
  src: url("../fonts/NotoSansJP-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Jp';
  src: url("../fonts/NotoSansJP-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Jp';
  src: url("../fonts/NotoSansJP-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  color: #141414;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-top: 68px;
}
body.hidden{
  overflow: hidden;
}
a{
  text-decoration: none;
  transition: .4s;
}
a:hover{
  opacity: .8;
}
ul{
  list-style-type: none;
}
img{
  display: block;
  height: auto;
  width: 100%;
}
section{
  margin-bottom: 150px;
}
input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}
textarea {
  resize: vertical;
}
button {
  cursor: pointer;
}
@media screen and (max-width: 425px){
  body{
    margin-top: 61px;
  }
  section{
    margin-bottom: 100px;
  }
}

.container{
  margin: 0 auto;
  max-width: 1060px;
  padding: 0 15px;
  width: 100%;
}
.section-title{
  margin-bottom: 70px;
  text-align: center;
}
.section-title .text{
  font-size: 36px;
  font-weight: 500;
}
@media screen and (max-width: 425px){
  .section-title{
    margin-bottom: 60px;
  }
  .section-title .text{
    font-size: 30px;
  }
}

header{
  background-color: #1B1310;
  border-bottom: 2px solid #FFF;
  left: 0;
  letter-spacing: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
}
header .container{
  max-width: 90%;
}
header .container .flex-wrap{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .logo-area p a{
  color: #FFF;
  font-size: 26px;
  font-weight: 500;
}
header .menubar{
  display: none;
}
header nav ul{
  align-items: center;
  display: flex;
}
header nav ul li{
  margin-right: 55px;
}
header nav ul li:last-child{
  margin-right: 0;
}
header nav ul li a{
  color: #FFF;
  font-weight: 500;
}
@media screen and (max-width: 768px){
  header{
    border-bottom-width: 1px;
  }
  header .menubar{
    display: block;
    height: 16px;
    position: relative;
    width: 25px;
  }
  header .menubar .bar{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
  }
  header .menubar span{
    background-color: #FFF;
    height: 2px;
    position: absolute;
    transition: .4s;
    width: 100%;
  }
  header .menubar span:nth-child(1){
    top: 0;
  }
  header .menubar span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
  }
  header .menubar span:nth-child(3){
    bottom: 0;
  }
  header .menubar.active span:nth-child(1){
    top: 7px;
    transform: rotate(135deg);
  }
  header .menubar.active span:nth-child(2){
    opacity: 0;
  }
  header .menubar.active span:nth-child(3){
    bottom: 7px;
    transform: rotate(-135deg);
  }
  header nav{
    background-color: #1B1310;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .4s;
    visibility: hidden;
    width: 100%;
    z-index: 99;
  }
  header nav.active{
    opacity: 1;
    visibility: visible;
  }
  header nav ul{
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  header nav ul li{
    margin: 0 0 50px;
    text-align: center;
  }
  header nav ul li:last-child{
    margin-bottom: 0;
  }
  header nav ul li a{
    letter-spacing: 0.05em;
  }
}
@media screen and (max-width: 425px){
  header .logo-area p a{
    font-size: 20px;
  }
}

#mv{
  background-image: url(../img/mv-bg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 100px;
  height: 51.4vw;
  position: relative;
}
#mv .wrap{
  border: 2px solid #FFF;
  left: 50%;
  padding: 35px 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#mv .wrap h1{
  color: #FFF;
  font-size: 50px;
  font-weight: 500;
  white-space: nowrap;
}
@media screen and (max-width: 768px){
  #mv .wrap{
    padding: 20px 25px;
  }
  #mv .wrap h1{
    font-size: 36px;
  }
}
@media screen and (max-width: 425px){
  #mv{
    background-image: url(../img/mv-bg-sp.webp);
    height: 157.2vw;
  }
  #mv .wrap{
    padding: 15px;
  }
  #mv .wrap h1{
    font-size: 34px;
  }
}

#about .content{
  line-height: 2;
}
#about .content h3{
  font-size: 24px;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
#about .content p{
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 425px){
  #about .content h3{
    font-size: 20px;
    margin-bottom: 30px;
  }
}

#service .content{
  line-height: 2;
}
#service .flex-wrap{
  display: flex;
  justify-content: space-between;
}
#service .flex-wrap:first-child{
  margin-bottom: 50px;
}
#service .flex-wrap .image{
  flex-shrink: 0;
  width: 480px;
}
#service .flex-wrap:last-child .image{
  order: 1;
}
#service .flex-wrap .text{
  width: 480px;
}
#service .flex-wrap .text h3{
  font-size: 24px;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
#service .flex-wrap .text p{
  font-size: 14px;
  font-weight: bold;
}
#service .flex-wrap:last-child .text{
  order: 2;
}
@media screen and (max-width: 1024px){
  #service .flex-wrap .image{
    width: 49%;
  }
  #service .flex-wrap .text{
    width: 49%;
  }
}
@media screen and (max-width: 768px){
  #service .content{
    margin: 0 auto;
    max-width: 480px;
  }
  #service .flex-wrap{
    display: block;
  }
  #service .flex-wrap .image{
    width: 100%;
  }
  #service .flex-wrap .text{
    margin-bottom: 40px;
    width: 100%;
  }
  #service .flex-wrap .text h3{
    font-size: 20px;
    margin-bottom: 30px;
  }
}

#news .section-title .text{
  letter-spacing: 0.1em;
}
#news .content{
  line-height: 2;
}
#news .content .flex-wrap{
  display: flex;
  justify-content: space-between;
}
#news .content .flex-wrap .wrap{
  box-shadow: 0 0 6px rgba(27, 19, 16, .4);
  width: 31.1%;
}
#news .content .flex-wrap .wrap .text{
  padding: 25px 30px;
}
#news .content .flex-wrap .wrap .text p{
  font-size: 13px;
  font-weight: 500;
}
@media screen and (max-width: 768px){
  #news .content .flex-wrap{
    display: block;
  }
  #news .content .flex-wrap .wrap{
    margin: 0 auto 50px;
    max-width: 480px;
    width: 100%;
  }
  #news .content .flex-wrap .wrap:last-child{
    margin-bottom: 0;
  }
}

#contact{
  margin-bottom: 50px;
}
#contact .container{
  max-width: 700px;
}
#contact .section-title .text{
  letter-spacing: 0.1em;
}
#contact form .form-wrap{
  margin-bottom: 25px;
}
#contact form .form-wrap:last-of-type{
  margin-bottom: 50px;
}
#contact form .form-wrap label{
  display: block;
  margin-bottom: 5px;
}
#contact form .form-wrap input,
#contact form .form-wrap textarea{
  border: 1px solid #141414;
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
}
#contact form .form-wrap input:focus::placeholder,
#contact form .form-wrap textarea:focus::placeholder{
  opacity: 0;
}
#contact form .form-wrap textarea{
  height: 170px;
}
#contact form button{
  background-color: #1B1310;
  border-radius: 30px;
  box-shadow: 0 0 6px #1B1310;
  color: #FFF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 235px;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

footer{
  background-color: #1B1310;
  color: #FFF;
  font-size: 14px;
  padding: 30px 0;
  text-align: center;
}